.wrapper {
  padding: 20px;
}

.search {
  display: block;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-around;
  color: black;
  border: 2px solid black;
  font-size: 28px;

  span:hover {
    cursor: pointer;
  }
}

.navbar {
  top: 0;
  width: calc(100% - 40px);
  position: fixed;
  background: #fff;
  padding: 10px 0;
}
